<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>  
    <add key="SENHA" value="??????????"/>  
    <add key="HOST" value="smtp.gmail.com"/>
    <add key="PORT" value="587"/>
    <add key="CONEXAOBD" value="localhost"/>
    <add key="CAMINHO EVENT LOG" value="E:\APLICAÇÕES E CURSOS\Serviço do windows-EnviaEmail\EnvioEmail\EnvioEmail-EventosLogs.txt"/>
    <add key="APP EXTERNO" value="E:\APLICAÇÕES E CURSOS\versao 19_MVC\Qualpatio v19 _C#- BD Patios\QualPatio\bin\Debug\QualPatio.exe"/>
    <add key="NOME APP EXTERNO" value="QualPatio"/>
  </appSettings>
</configuration>